<main role="main">  
    <section>
      <div class="container">
  
        <div class="row m-b-2">
          <div class="col-md-6 col-md-offset-3">
            <h4 class="activities-sidbar">Ingreso a la Plataforma</h4>
          </div>      
        </div>
  
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-container">
                <form [formGroup]="formularioLogin" (submit)="ingresar()">
  
                    <div class="row">
                        <div class="col-md-10 form-group item-form">
                          <label for="email">Email:</label>
                          <input class="form-control" autocomplete="email" type="email" id="email" formControlName="email">
                        </div>
                      </div>
                
                    <div class="row">
                      <div class="col-md-10 form-group item-form">
                        <label for="contrasenia">Contraseña:</label>
                        <input class="form-control" autocomplete="current-password" type="password" id="contrasenia" formControlName="contrasenia">
                      </div>
                    </div>
                  
                    <div class="row">
                      <div class="col-sm-3">
                        <button class="btn btn-success" type="submit">Ingresar</button>
                      </div>      
                    </div>

                    <div class="row">
                        <div class="col-xs-10">
                            <hr>
                        </div>
                    </div>
                  </form>
                  <div class="row">
                    <div class="col-xs-12">
                        <p><a href="#">Recuperar mi contraseña</a></p>
                    </div>
                </div>
            </div>  
          </div>      
        </div>
      
      </div>
    </section>
  </main>
