<main role="main">  
    <section>
      <div class="container">
  
        <div class="row m-b-2">
          <div class="col-md-6 col-md-offset-3">
            <h4 class="activities-sidbar">Registrar Nueva Solicitud de Inspección</h4>
          </div>      
        </div>
  
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-container">
                <form [formGroup]="formularioSolicitudInspeccion" (submit)="ingresarSolicitud()"> 
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <label for="nombre">Nombre del propietario/a:</label>
                        <input class="form-control" type="text" id="nombre" formControlName="nombre">
                    </div>
                    </div>
                
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <label for="apellido">Apellido del propietario/a:</label>
                        <input class="form-control" type="text" id="apellido" formControlName="apellido">
                    </div>
                    </div>
                
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <label for="telefono">Teléfono:</label>
                        <input class="form-control" type="tel" id="telefono" formControlName="telefono">
                    </div>
                    </div>
                
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <label for="email">Email:</label>
                        <input class="form-control" type="email" id="email" formControlName="email">
                    </div>
                    </div>
                
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <label for="barrio">Barrio:</label>
                        <input class="form-control" type="text" id="barrio" formControlName="barrio">
                    </div>
                    </div>
                
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <label for="sector">Sector:</label>
                        <input class="form-control" type="text" id="sector" formControlName="sector">
                    </div>
                    </div>
                
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <label for="manzana">Manzana:</label>
                        <input class="form-control" type="text" id="manzana" formControlName="manzana">
                    </div>
                    </div>
                
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <label for="lote">Lote:</label>
                        <input class="form-control" type="text" id="lote" formControlName="lote">
                    </div>
                    </div>
                
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <label for="fechaSolicitud">Fecha de Solicitud:</label>
                        <input class="form-control" type="date" id="fechaSolicitud" formControlName="fechaSolicitud">
                    </div>
                    </div>
                
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <label for="estado">Estado:</label>
                        <input class="form-control" type="text" id="estado" formControlName="estado">
                    </div>
                    </div>
                
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <label for="numeroExpediente">Número de Expediente:</label>
                        <input class="form-control" type="text" id="numeroExpediente" formControlName="numeroExpediente">
                    </div>
                    </div>
                
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <label for="tipo_Solicitud">Tipo de Solicitud:</label>
                        <input class="form-control" type="text" id="tipo_Solicitud" formControlName="tipo_Solicitud">
                    </div>
                    </div>
                
                    <div class="row">
                    <div class="col-md-10 form-group item-form">
                        <button type="submit" class="btn btn-success" [disabled]="!formularioSolicitudInspeccion.valid">Enviar Solicitud</button>
                    </div>
                    </div>
                </form>
            </div>  
        </div>      
      </div>
      </div>
    </section>
</main>  