<form [formGroup]="formularioPersona" (submit)="enviarSolicitud()">
  
    <div class="row">
      <div class="col-md-10 form-group item-form">
        <label for="nombre">Nombre:</label>
        <input class="form-control" type="text" id="nombre" formControlName="nombre">
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 form-group item-form">
        <label for="apellido">Apellido:</label>
        <input class="form-control" type="text" id="apellido" formControlName="apellido">
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 form-group item-form">
        <label for="telefono">Teléfono:</label>
        <input class="form-control" type="text" id="telefono" formControlName="telefono">
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-10 form-group item-form">
        <label for="email">Email:</label>
        <input class="form-control" type="email" id="email" formControlName="email">
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-3">
        <button class="btn btn-success" type="submit">Ingresar</button>
      </div>      
    </div>    
  </form>
  