<main role="main">  
  <section>
    <div class="container">

      <div class="row m-b-2">
        <div class="col-md-6 col-md-offset-3">
          <h4 class="activities-sidbar">Bienvenido...</h4>
        </div>      
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-3">
          <a class="panel panel-default" href="/solicitudes">
            <div class="panel-body">
              <h3>Solicitudes de Inspecciones</h3>
            </div>
          </a>  
        </div>      
      </div>
    
    </div>
  </section>
</main>