nav {
    background-color: #0d6efd;
    color: white;
    padding: 1em;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  .content {
    font-family: "Hind";
    display: flex;
    flex-direction: column; /* Cambia a columna para alinear verticalmente */
    justify-content: center;
    align-items: center;
    min-height: 60vh; /* Ajusta según sea necesario */
    padding: 20px;
  }
  
  .form-container {
    margin-top: 20px; /* Espacio entre el título y el formulario */
  }
  
  footer {
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  